;; Analyzed by ClojureScript 1.7.228
{:use-macros {reaction reagent.ratom}, :excludes #{}, :name mimas.subs, :imports nil, :requires {re-frame.core re-frame.core, mimas.db mimas.db, mimas.util mimas.util}, :uses {initial-state mimas.db, register-sub re-frame.core, simple-sub mimas.util}, :require-macros {reagent.ratom reagent.ratom}, :cljs.analyzer/constants {:seen #{:app/active-route :app/title :app/user}, :order [:app/title :app/user :app/active-route]}, :doc nil}