;; Analyzed by ClojureScript 1.7.170
{:name mimas.subs, :doc nil, :excludes #{}, :use-macros {reaction reagent.ratom}, :require-macros {reagent.ratom reagent.ratom}, :uses {initial-state mimas.db, register-sub re-frame.core, simple-sub mimas.util}, :requires {re-frame.core re-frame.core, mimas.db mimas.db, mimas.util mimas.util}, :imports nil, :cljs.analyzer/constants {:seen #{:app/title}, :order [:app/title]}}