;; Analyzed by ClojureScript 1.7.170
{:use-macros {reaction reagent.ratom}, :excludes #{}, :name mimas.subs, :imports nil, :requires {re-frame.core re-frame.core, mimas.db mimas.db}, :uses {register-sub re-frame.core, state mimas.db}, :defs {simple-sub {:protocol-inline nil, :meta {:file "/home/andre/Project/ClojureScript/mimas/src/mimas/subs.cljs", :line 7, :column 7, :end-line 7, :end-column 17, :arglists (quote ([db [k]]))}, :name mimas.subs/simple-sub, :variadic false, :file "src/mimas/subs.cljs", :end-column 17, :method-params ([db p__57107]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 7, :end-line 7, :max-fixed-arity 2, :fn-var true, :arglists (quote ([db [k]]))}}, :require-macros {reagent.ratom reagent.ratom}, :cljs.analyzer/constants {:seen #{:task/list :dropdown/list :app/title :task/form :get-db}, :order [:app/title :dropdown/list :task/list :task/form :get-db]}, :doc nil}