* {
  color: #444
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
}
#app {
  min-height: 100%;
}
.btn {
  display: block;
  width: 100%;
  height: 32px;
  padding: 1em;
  font-size: 10px;
  font-weight: 700;
  color: white;
  background: indigo;
  border: none;
  text-transform: uppercase;
  outline: none;
}
.text-field {
  display: block;
  width: 100%;
  height: 32px;
  margin: 0 .4em;
  padding: 0 .6em;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
}
.select-field {
  display: block;
  width: 100%;
  height: 32px;
  margin: 0 .4em;
  padding: 0 .6em;
  box-sizing: border-box;
  background-color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
}
.text-field:focus {
  border-bottom: 2px solid indigo;
}
.title {
  padding: 1em;
}
.title .title__text {
  margin: 0;
  font-size: 2em;
  font-weight: 400;
}
.sidebar {
  flex: 1;
  background-color: #424242;
}
.user-header {
  display: flex;
  padding: 1.6em;
}
.user-header .user-header__avatar-container {
  margin-right: 1em;
}
.user-header .user-header__avatar-container .avatar-container__avatar {
  border-radius: 50%;
}
.user-header .user-header__user-info {}
.user-header .user-header__user-info .user-info__name {
  margin: 0;
  color: #fafafa;
  font-size: 1.5em;
}
.user-header .user-header__user-info .user-info__email {
  margin: 0;
  color: #757575;
  font-size: .8em;
}
.create-task-panel {
  display: flex;
}
.create-task-panel .create-task-panel__input-container {
  flex: 3;
}
.create-task-panel .create-task-panel__input-container .input-container__input {
  width: 100%;
  height: 32px;
  padding: 4px 10px;
  font-size: 15px;
  border: none;
  border: 1px solid #eee;
  box-sizing: border-box;
  outline: none;
}
.create-task-panel .create-task-panel__dropdown-container {
  flex: 2;
  padding-left: 10px;
  padding-right: 10px;
}
.create-task-panel .create-task-panel__submit-container {
  flex: 1;
  width: 100%;
}
.create-task-panel .create-task-panel__submit-container .submit-container__submit-btn {
  width: 100%;
  height: 32px;
  font-size: 10px;
  font-weight: 700;
  color: white;
  background: indigo;
  border: none;
  text-transform: uppercase;
  outline: none;
}
.task-list {
  padding: 0;
}
.task-item {
  display: flex;
  align-items: center;
  background: white;
}
.task-item.task-item--done {}
.task-item .task-item__first-column {
  padding: 1em;
}
.task-item .task-item__second-column {
  flex: 1;
}
.task-item .task-item__third-column {
  display: flex;
  padding: 1em;
  height: 20px;
}
.task-item .task-item__checkbox-done {
  display: block;
}
.task-item .task-item__title {
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.task-item.task-item--done .task-item__title {
  color: #ccc;
}
.task-item .task-item__project {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.task-item.task-item--done .task-item__project {
  color: #ccc;
}
.project-list {
  padding: 0;
}
.project-list .project-list__title {
  display: flex;
  padding-left: 1.6em;
}
.project-list .project-list__title .title__text {
  font-size: .7em;
  color: #757575;
  text-transform: uppercase;
}
.project-list .project-list__title .title__button {
  font-size: .7em;
  color: #757575;
}
.project-form {
  display: flex;
  padding: 0 .6em;
}
.project-form .project-form__input-container {
  flex: 1;
  padding-right: .8em;
}
.project-form .project-form__btn-container {
}
.project-item {
  display: flex;
  align-items: flex-end;
  padding: .6em 1.6em;
  list-style-type: none;
}
.project-item .project-item__title {
  flex: 1;
  margin: 0;
  font-size: 1.5em;
  color: #fafafa;
}
.project-item .project-item__badge {
  margin: 0;
  margin-left: 10px;
  font-size: 1.4em;
  color: #bdbdbd;
}
.icon {
  padding: .2em;
  margin: .2em;
  color: #444;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}